html, body {
    padding: 0;
    margin: 0;
}

section {
    margin-top: 10px;
}

.task-one{
    background-color: cyan;
}
.task-one::before{
    content: "Once upon a time ";
    background-color: blueviolet;
}

.task-one::after{
    content: " The end";
    background-color: blueviolet;
}

.task-two{
    background: url(./assets/beach.jpg);
    width: 400px;
    height: 300px;

    clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
}

.task-three{
    transform: rotate(180deg);
}